body{
	font-family: 'DSEG14Classic';
	font-size: 12pt;
}

@font-face {
  	font-family: 'DSEG14Classic';
 	src: 'browserassets/css/fonts/DSEG14Classic-Regular.ttf';
	font-style: normal;
}


html{
	font-family: 'DSEG14Classic';
	font-size: 12pt;
	color: blue;
}
.thingy{
	font-family:'DSEG14Classic';
	font-style: normal;
}
