
@font-face {
  	font-family: "DSEG14 Classic";
	font-style: normal;
 	src: "browserassets/css/fonts/DSEG/DSEG14Classic-Regular.ttf";

}
@font-face{
  font-family: 'Routed Gothic';
  src: local('browserassets/css/fonts/Gothic/routed-gothic.ttf');
}
